#dona {
    color: aqua;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    width: 70%;
    background-color: rgba(233, 124, 124, 0.89);
}
/*change color on hover */
#dona:hover{
    background-color: black;
    color: burlywood;
}
h4{
    color: rgb(5, 77, 77);
    text-align: right;
    font-style: italic;
    font-size: 1.4em;
}
.lists{
    list-style-type: none;
    margin: 0;
    padding: 0
}
body {
background-image: linear-gradient(to bottom,aqua,black);
background-attachment: fixed;
border: 2em solid gray;
border-radius: 2em;
}
    
a{
    
    color:rgb(167, 33, 33);
    background: rgb(248, 201, 201);
    text-decoration: underline;
}
li {
    padding: 8px 16px;
    margin: 10px;
    display: inline;
    font-size: 1.5em;
    
}

img{
    float: none;
}
/*change the color on hover*/
a:hover{
    background-color: #555;
    color: white;

}

